 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>长隆海洋王国</title>
<link href="__PUBLIC__/Css/index.css" rel="stylesheet">
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/public.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>

</head>

<body>

<!--导航-->
<nav >
<div id="nav" >
<div class="row clearfix">
	<div class="col-md-4 column">
	<span id="time"></span>
	</div>
	<div class="col-md-2 column">
	<span id="time"></span>
	</div>
	<div class="col-md-6 column">
	<ul class="nav nav-pills" id="nav-show">
			<li><a href = "__ROOT__">首页<span class="badge">12</span></a></li>
			<li><a href = "#">简介</a></li>
			<li><a href = "#">消息<span class="badge">3</span></a></li>
			<li><a href = "./index.php/Home/Index/map.html">Map</a></li>
			<li><a href = "./admin.php/Admin/Login/index">登录</a></li>	
	</ul>
	</div>
	
</div>
</nav><br><br><br>
<!--</div>-->

<section class="container" >
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				长隆海洋王国
			</h2>
			<p>
				长隆海洋王国位于珠海长隆国际海洋度假区内，是长隆集团采用世界顶尖公司的设计，吸取全球主题公园的精华，运用高科技和长隆特有的创意，全面整合珍稀的海洋动物、顶级的游乐设备和新奇的大型演艺，全力建设和打造的中国人自主研发、拥有自主知识产权的世界顶级主题公园。
			</p>
		</div>
		<div class="col-md-4 column">
		     <img  src="__PUBLIC__/Images/zh2.jpg" width="360" height="240" >
		</div>
	</div><br>

	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-1">特点</a>
					</div>
					<div id="panel-element-1" class="panel-collapse in">
						<div class="panel-body">
							长隆海洋王国位于珠海长隆国际海洋度假区内，是长隆集团采用世界顶尖公司的设计，吸取全球主题公园的精华，运用高科技和长隆特有的创意，全面整合珍稀的海洋动物、顶级的游乐设备和新奇的大型演艺，全力建设和打造的中国人自主研发、拥有自主知识产权的世界顶级主题公园。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-2">游玩项目</a>
					</div>
					<div id="panel-element-2" class="panel-collapse collapse">
						<div class="panel-body">
							海洋王国拥有八大主题园区：惊险刺激为主的雨林飞翔，以世界顶级娱乐观赏为主的海洋奇观；适合儿童游乐项目为主的以及合家游玩的缤纷世界；以海豚观赏为主的海豚湾；以冰雪设计为主的极地探险；以水为主题的海象山；以表演为主的横琴海；以迎宾、观光、购物休闲为主的海洋大街。八个不同主题带给你八个不同的故事，让游客都置身于海洋世界中，畅游海洋动物的不同精彩。
在这里，通过主题文化包装及故事演绎，以及大型表演、花车巡游、建筑、雕塑、园林等多种表现形式，为游客创造了不同的全方位体验，打造出一个多姿多彩，奇妙而梦幻的海洋世界。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-3">娱乐</a>
					</div>
					<div id="panel-element-3" class="panel-collapse collapse">
						<div class="panel-body">
							珠海长隆海洋王国独有七大引领世界行业之最，集教育、娱乐、休闲于一身，满足不同游客各种最新、最全、最不可思议的追求：

    1全球面积最大——海洋王国是世界最大的海洋主题乐园，其内容更是囊括顶级机动游戏、珍稀动物展馆、大型剧场表演、餐饮、购物等多种综合娱乐；
    2世界最大的海洋鱼类展馆、世界最大的亚克力玻璃——海洋奇观展馆高达63m，是世界最大的海洋鱼类展览馆，水体达3.1万立方，比目前世界上最大、水体为1.5万立方的水族馆水体还超出一倍多。海洋奇观内饲养有不同品种的珍奇鱼类多达15000条，更安装了世界上最大的亚克力玻璃，长39.6米，高8.3米，厚0.65米，通过世界最先进的技术连接，视界壮阔，带来无敌海底奇观；
    3全球最长的飞行过山车——飞越雨林，轨道全球最长的鹦鹉过山车，爬升近20层楼，飞速而下，让您体验到空中自由翱翔的快感；
    4亚洲第一台水上过山车——冰川历险，其轨道长近千米，上天入海，穿越北极熊展区，尽享无限乐趣；
    5最庞大欢乐的海洋主题花车巡游——海洋王国大巡游包括格式各样海洋主题花车，海洋欢乐阵容近百人，巡游演出包括美人鱼、海龟、章鱼、巨鲸、极地游戏、潜水艇等，大人小孩均能乐享其中，一起载歌载舞，在欢声笑语中学习海洋元素。
    6最震撼独特的幻彩闪耀横琴海——囊括水、灯光、投影、激光、烟花等声光元素的综合运用，创造出全球独一无二的令人眼花缭乱、激动人心的壮观演出
    7全球首创大型游乐设施与珍贵动物展区相结合的独特设计——宾客可以在过山车等游乐设备上穿越全球首座北极熊山川、亚马逊海底，深海珊瑚间，海狮海象领地，在感受风驰电掣、动感刺激的同时，融入主题情感。

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 column">
		<h2>珠海景点排行</h2>
		<table class="table">
                        <thead>
                        <tr>
		<th>名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="tour" item="v">
			<tr class="warming">
			<td><a href="__ROOT__/index.php/Home/Index/{$v.src}">{$v.name}</a></td>
                                    </tr>
                        </foreach></tbody>
                        </table>
                        <div>{$page}</div>
		</div>
	</div>
</div>
</section>

<footer class="container">
	<div id= "suggest" class="contact" style="text-align:center" >
		<h2>CONTACT ME</h2>
		<p>您有什么更好的建议，请与我们联系</p>
		<div id="commit">
		<form >
		         <div class="input-group">		        
			<input type = "text" class="form-control" placeholder = "请输入姓名" required = "required"/>
		          </div>

		          <div class="input-group">
			<input type = "text" class="form-control" placeholder = "E-mail" required = "required"/>
		          </div>
			
		          <div class="input-group">
			<textarea placeholder = "Message"></textarea>
		          </div>
			
			<button type="submit" class="btn btn-warning">提交</button>
		</form>
		</div>
	</div>
	<br><br>
</footer>

</body>
</html>
