 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>圆明新园</title>
<link href="__PUBLIC__/Css/index.css" rel="stylesheet">
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/public.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>

</head>

<body>

<!--导航-->
<nav >
<div id="nav" >
<div class="row clearfix">
	<div class="col-md-4 column">
	<span id="time"></span>
	</div>
	<div class="col-md-2 column">
	<span id="time"></span>
	</div>
	<div class="col-md-6 column">
	<ul class="nav nav-pills" id="nav-show">
			<li><a href = "__ROOT__">首页<span class="badge">12</span></a></li>
			<li><a href = "#">简介</a></li>
			<li><a href = "#">消息<span class="badge">3</span></a></li>
			<li><a href = "./index.php/Home/Index/map.html">Map</a></li>
			<li><a href = "./admin.php/Admin/Login/index">登录</a></li>	
	</ul>
	</div>
	
</div>
</nav><br><br><br>
<!--</div>-->

<section class="container" >
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				圆明新园
			</h2>
			<p>
				圆明新园于公元1997年2月2日正式建成并对外开放，它坐落于珠海九洲大道石林山下，占地面积为1.39平方公里，以北京圆明园为原稿，按1：1比例精选圆明园四十景中的十八景修建而成，投资6亿元人民币，是中国首批AAAA级景区之一。圆明新园融古典皇家建筑群、江南古典园林建筑群和西洋建筑群为一体，为游客再现圆明园。
			</p>
		</div>
		<div class="col-md-4 column">
		     <img  src="__PUBLIC__/Images/zh3.jpg" width="360" height="240" >
		</div>
	</div><br>

	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-1">地理位置</a>
					</div>
					<div id="panel-element-1" class="panel-collapse in">
						<div class="panel-body">
							圆明新园坐落于珠海九洲大道石林山下，广东省珠海市香洲区九洲大道兰埔路与白石路交界处，北纬N22°14′34.58″ 东经E113°31′58.21″，东西北三面环山，南面平坦开阔，其中福海湖水域8万平方米。占地面积为1.39平方公里。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-2">建设规模</a>
					</div>
					<div id="panel-element-2" class="panel-collapse collapse">
						<div class="panel-body">
							圆明新园以北京圆明园为原稿，按1：1比十景
圆明新园景点分布图
圆明新园景点分布图
中的十八景修建而成，投资6亿元人民币，是我国首批4A级景区之一。它三面环山，南面平坦开阔，福海湖水域面积8万平方米。 圆明新园集，所有建筑景观均按原尺寸仿建。大殿“正大光明”、“九州清晏”、“蓬岛瑶台”、“方壶胜景”组成中轴线为皇家宫殿式建筑群。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-3">主要景点</a>
					</div>
					<div id="panel-element-3" class="panel-collapse collapse">
						<div class="panel-body">
							<h4>远瀛观</h4>
远瀛观景点是西洋楼景区的主要景点，从南北轴线上可划分为南、北、中三段。昔日曾是乾隆皇帝宠爱的香妃生活和娱乐的场福海中央，从岛上可隔湖眺望四周如画的景色。
<h4>长城</h4>
圆明新园的长城是按一比二的比例仿北京古长城而建，起点为南海雄关，终点至郭超山顶，沿途设有众多烽火台供游客风赏珠海全景及澳门景观。
<h4>大水法</h4>
大水法是远瀛观前的设施。与
圆明新园
圆明新园
它前面的喷泉、汉白玉门柱上的精美雕刻组成一种异国情调。
配殿所展示的圆明园的诞生、盛期、焚毁、新园逢时等时期的珍贵图片资料，是中国近、现代史的缩影。
大宫门的上方悬挂着著名书法家启功先生题写的园匾“圆明新园”四个大字。门前的金水桥架落在形如曲月的御河上，桥外耸立着雕刻精美的华表和威武雄壮的石狮。
<h4>西洋楼群</h4>
建在长春园的一群欧洲式园林
西洋楼群
西洋楼群
建筑，俗称西洋，由海晏堂、远瀛观、大水法等十余个建筑和庭园组成。它建于乾隆十二年至二十四年（传教士朗世宁、蒋友仁、王致诚等设计指导，中国匠师建造。建筑形式是欧洲时期巴洛克风格，造园形式为“勒诺特”风格。但在造园和建筑装饰方面也吸取了我国不少传统方法。例如：这些建筑主体为西洋式，楼顶装饰则采用中国古代传统的琉璃瓦。西洋楼群有几组水法（人工喷泉）颇为别致。
<h4>万方安和</h4>
万方安和，建于雍正初年公元1826年。它的建筑形式很奇特
，房屋建在水池里，成为一个万字型，寓意四海承平。房屋有三十三间，东西南北，室室曲折相通。在通风、保暖和采光等方面，都有独到的讲究之处，具有冬暖夏凉之妙。雍正帝最喜欢在这里居住。南面正室的匾额题有“万方安和”，后来便成为这一带的统称。雍正四年即“万方安和”建成的第一年，雍正赐弘历（即乾隆）读书于此处。
<h4>曲院风荷</h4>
始建于公元1729年左右，这是仿杭州西湖的“曲院”。西湖的曲院，
原来是宋朝的一处酿酒作坊，四周有池，荷花最多，随风摇荡其中，因而取名“曲院风荷”。乾隆很喜欢这个景致，于是南巡江南时仿此景置于园中。乾隆曾经赞扬此处佳景赛过杭州西子湖。
<h4>濓溪乐处</h4>
建于公元一七二七年左右，是园中赏荷的地方。在长满荷叶的水面上，有一组临水殿堂；有伸向水面的香雪廊。乾隆、嘉庆帝也特别喜欢在此吟诗作对。乾隆帝居于圆明园时，在濂溪乐处作诗最多。
<h4>平湖秋月</h4>
西元1729年初已建成，是仿杭州西湖十景之一的平湖秋月，造型上融汇了杭州西湖平湖秋月和双峰插云之精华。它依山面湖，竹林茂密，每当秋深月皎，面对十顷澄湖，波光涟漪，有如置身於西子湖畔。[8] 
嘉庆曾对石舫有诗云：近水长屋以舫称，逢窗开处称吟。偶然假借名活画，活画方斯恐未能。

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 column">
		<h2>珠海景点排行</h2>
		<table class="table">
                        <thead>
                        <tr>
		<th>名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="tour" item="v">
			<tr class="warming">
			<td><a href="__ROOT__/index.php/Home/Index/{$v.src}">{$v.name}</a></td>
                                    </tr>
                        </foreach></tbody>
                        </table>
                        <div>{$page}</div>
		</div>
	</div>
</div>
</section>

<footer class="container">
	<div id= "suggest" class="contact" style="text-align:center" >
		<h2>CONTACT ME</h2>
		<p>您有什么更好的建议，请与我们联系</p>
		<div id="commit">
		<form >
		         <div class="input-group">		        
			<input type = "text" class="form-control" placeholder = "请输入姓名" required = "required"/>
		          </div>

		          <div class="input-group">
			<input type = "text" class="form-control" placeholder = "E-mail" required = "required"/>
		          </div>
			
		          <div class="input-group">
			<textarea placeholder = "Message"></textarea>
		          </div>
			
			<button type="submit" class="btn btn-warning">提交</button>
		</form>
		</div>
	</div>
	<br><br>
</footer>

</body>
</html>
