 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>会同村</title>
<link href="__PUBLIC__/Css/index.css" rel="stylesheet">
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/public.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>

</head>

<body>

<!--导航-->
<nav >
<div id="nav" class="container">
<div class="row clearfix">
	<div class="col-md-4 column">
	<span id="time"></span>
	</div>
	<div class="col-md-2 column">
	<span id="time"></span>
	</div>
	<div class="col-md-6 column">
	<ul class="nav nav-pills" id="nav-show">
			<li><a href = "__ROOT__">首页<span class="badge">12</span></a></li>
			<li><a href = "#">简介</a></li>
			<li><a href = "#">消息<span class="badge">3</span></a></li>
			<li><a href = "map.html">Map</a></li>
			<li><a href = "__APP__/Admin/Login/index">登录</a></li>	
	</ul>
	</div>
</div>
</nav><br><br><br>
<!--</div>-->

<section class="container" >
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				会同村
			</h2>
			<p>
				会同村，位于珠海市金鼎镇。村内是清一色岭南民居，家家都是灰瓦、青砖、飞檐，建筑布局整齐，外形色调一致，嵌填在“棋盘式”方格网形成的整齐的宅基地中。2006年，会同古村被颁布为区级文物保护单位，并申报市级文物保护单位。
			</p>
		</div>
		<div class="col-md-4 column">
		     <img  src="__PUBLIC__/Images/zh4.jpg" width="360" height="240" >
		</div>
	</div><br>

	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-1">新村面貌</a>
					</div>
					<div id="panel-element-1" class="panel-collapse in">
						<div class="panel-body">
							沿着建于上世纪三十年代的岐关公路，于浓荫庇护中来到当年
会同村乡绅捐建供行人休憩的缉卿亭，一条静谧幽然的乡村小路将人们引向凤凰山麓深处的会同村。蜿蜒的小路两边，农林、果园、水田相间呈现，水明山青，一片丰饶。空间渐次开阔中，一群群雪白的鸭子在池塘里悠闲地游弋，一大片高大茂密的樟树下，依稀的一段古村墙；踏过一座横卧的石桥，来到会同村口。抬眼望去，2座碉楼、3座祠堂整齐地排列在村前大街上：典型岭南风格的祠堂，清一色的硬山顶，青砖墙，门廊、月台、屋脊上都是精美的石雕装饰；而体量高大的碉楼却挟带着浓烈的西洋风格，无言展现着当年的雄心与视野，使得起伏雄健的村前建筑轮廓交织起中西两种语言，让每个前来探访她的人强烈地感受着这座著名岭南古村中西合璧的独特魅力。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-2">建筑结构</a>
					</div>
					<div id="panel-element-2" class="panel-collapse collapse">
						<div class="panel-body">
							<h4>三街八巷</h4>
会同村的核心结构俗称 “”。其“三街”为：村内沿荷花塘由北向南的“下横街”、与之平行依山势渐高的“中横街”和“上横街”。“八巷”为八条东西向的石街小巷。“八巷”自下而上顺山势连接三条主街，“三街八巷”互相垂直交错，构成方正规矩的“棋盘式”空间组织架构。 
而其单体民居设计中更是巧妙地运用了现代模数制设计手法，以传统民居正房加前院为核心，以增加左右书房和前后院落为变数，演变出满足各种家庭人口、代际增加和长幼尊卑次序的住宅，使整个村落风貌即统一又有变化，极富韵律感。
会同村的祠堂、民居建筑质量上乘，多采用中国传统的木结构梁架体系，抬梁、山墙承重混合使用，而在外檐处雕刻石柱代替木柱以避风雨潮气为当地特色，石梁托、雀替、牛腿的透空雕刻工艺非常高超，100多年来未失风采。
<h4>栖霞仙馆</h4>
这座中西合璧的园林式禅院，名叫栖霞仙馆。由莫仕扬的嫡孙莫咏如于20世纪10年代为纪念他的妻子建造，也是这位成功买办消暑度假、交朋结友的乡间会所。它使会同村在1922年成为香山县第一个用上电和放映电影的村子，因为热心桑梓的莫咏如不仅把栖霞仙馆向乡人开放，使栖霞仙馆成为会同村具有半开放性质的花园，还从香港购回了柴油发电机安放在栖霞仙馆为整个会同村供电，甚至每隔数月就特意从香港请来电影队在栖霞仙馆为乡人放映卓别林的电影。
栖霞仙馆的主体建筑是这座兼有中式碉楼的瞭望、守护、御敌功能和西式门楼的门卫功能的门楼，和这座仿照上海太古洋行建造的斋堂，在古树异木生机盎然的庭院内,还建有重檐攒尖顶的中国式六角亭，正方形基底的日本式歇山顶茅亭及印度式的啖荔亭，呈现了多元建筑文化混合、杂处的风格、意境，更平添了会同村的传奇色彩。
会同村的聚落选址和村落规划，凝结人们崇尚自然的居住观念。其栖霞仙馆、碉楼、祠堂及村里格局齐整的清代民居，形成风貌完整的古建筑群，展示出近代岭南建筑风貌特色。其院落式的民居布局，祠堂的重点雕饰和碉楼、闸门的运用，展现了近代香山地区居住文化特征。作为珠海迄今保存最完整的的近代村庄，会同村不仅是以莫氏家族为代表的买办文化的物化缩影，也是大陆文化与海洋文化结合兼容在村镇建设中的典例，它凝聚着百余年来香山地区文化、社会、经济发展的历史信息，是岭南近代史的活标本，会同村核心区现存历史建筑7897平方米。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-3">民谣</a>
					</div>
					<div id="panel-element-3" class="panel-collapse collapse">
						<div class="panel-body"><br>
							前面一条塘，<br>
二闸围一乡；<br>
一间祠堂三塔上，<br>
左边文阁似牌坊，<br>
右边瓦瑶真排场；<br>
花儿果子喷鼻香，<br>
人人行过都旺相，<br>
真系会同村仔好村场。<br><br>
这是一首称赞会同村的当地民谣。循透着自豪而朴实的歌谣，我们一起探访会同村。

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 column">
		<h2>珠海景点排行</h2>
		<table class="table">
                        <thead>
                        <tr>
		<th>名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="tour" item="v">
			<tr class="warming">
			<td><a href="__ROOT__/index.php/Home/Index/{$v.src}">{$v.name}</a></td>
                                    </tr>
                        </foreach></tbody>
                        </table>
                        <div>{$page}</div>
		</div>
	</div>
</div>
</section>

<footer class="container">
	<div id= "suggest" class="contact" style="text-align:center" >
		<h2>CONTACT ME</h2>
		<p>您有什么更好的建议，请与我们联系</p>
		<div id="commit">
		<form >
		         <div class="input-group">		        
			<input type = "text" class="form-control" placeholder = "请输入姓名" required = "required"/>
		          </div>

		          <div class="input-group">
			<input type = "text" class="form-control" placeholder = "E-mail" required = "required"/>
		          </div>
			
		          <div class="input-group">
			<textarea placeholder = "Message"></textarea>
		          </div>
			
			<button type="submit" class="btn btn-warning">提交</button>
		</form>
		</div>
	</div>
	<br><br>
</footer>

</body>
</html>
