 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>唐绍仪故居</title>
<link href="__PUBLIC__/Css/index.css" rel="stylesheet">
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/public.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>

</head>

<body>

<!--导航-->
<nav >
<div id="nav" >
<div class="row clearfix">
	<div class="col-md-4 column">
	<span id="time"></span>
	</div>
	<div class="col-md-2 column">
	<span id="time"></span>
	</div>
	<div class="col-md-6 column">
	<ul class="nav nav-pills" id="nav-show">
			<li><a href = "__ROOT__">首页<span class="badge">12</span></a></li>
			<li><a href = "#">简介</a></li>
			<li><a href = "#">消息<span class="badge">3</span></a></li>
			<li><a href = "./index.php/Home/Index/map.html">Map</a></li>
			<li><a href = "./admin.php/Admin/Login/index">登录</a></li>	
	</ul>
	</div>
	
</div>
</nav><br><br><br>
<!--</div>-->

<section class="container" >
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h2>
				唐绍仪故居
			</h2>
			<p>
				首任民国总理唐绍仪故居，位于唐家古镇山房路99号。由并连成一整楼的前后两座组成，后座为唐绍仪祖父于清朝所建，前座为唐绍仪于1929年所扩建。
			</p>
		</div>
		<div class="col-md-4 column">
		     <img  src="__PUBLIC__/Images/zh5.jpg" width="360" height="240" >
		</div>
	</div><br>

	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-1">简介</a>
					</div>
					<div id="panel-element-1" class="panel-collapse in">
						<div class="panel-body">
							唐绍仪在此出生和生活过。唐绍仪故居是两间两层并连成一座的楼房，阔12.3米，深11.6米，右间建于清代，为唐绍仪祖父所建，左间扩建于1929年，为唐绍仪本人所建。
1980年被公布为珠海市文物保护单位。
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-2">人物生平</a>
					</div>
					<div id="panel-element-2" class="panel-collapse collapse">
						<div class="panel-body"><br>
							唐绍仪(1862～1938)字少川。广东香山县(今属珠海市)人。<br>
1874年经清政府选派为第三批幼童赴美留学，考入哥伦比亚大学文科。<br>
1881年回国，先在天津水师附设洋务学堂见习，后入天津税务衙门供职。<br>
1885年以西方翻译兼办洋务委员身份赴朝鲜协助袁世凯办理税务。1894年接替袁世凯的驻朝鲜“总理交涉通商”职务。<br>
1898年回国后，历任津海关道、外务部右侍郎、沪宁和京汉铁路总办、邮传部尚书、奉天巡抚等职。<br>
1904年，曾被清政府指派为议藏约全权大臣赴印度与英国人谈判，极力维护中国对西藏的领土主权。<br>
1906年，出任新设的税务处会办。<br>
1911年武昌起义后，充当袁世凯内阁全权代表参加南北和谈，随后，加入中国同盟会。<br>
1912年，出任中华民国第一任内阁总理，为清帝退位与民国共和体制的建立作出过贡献。同年6月，因与袁世凯政见不合而辞职。<br>
1915年，他曾致电袁世凯，反对复辟帝制。<br>
1917年参加孙中山的护法军政府，后来成为广州军政府七总裁之一，并于1919年以南方总代表身份出席第二次南北议和。<br>
1922年被北洋政府黎元洪提名为国务院总理，遭北方军阀反对而未到任。<br>
1929年，出任中山县训政实施委员会主席。<br>
1930年至1934年，任中山模范县县长。九一八事变后，任国民政府委员。<br>
1938年日本军队侵占上海、南京后，企图利用其作傀儡，但他始终不答复。9月30日，在上海寓所被国民党军统特务刺杀。10月5日，国民政府为其不幸遇难拨给治丧费5000元，并将其生平事迹宣付国史馆。<br>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#panel-element-3">由来</a>
					</div>
					<div id="panel-element-3" class="panel-collapse collapse">
						<div class="panel-body"><br>
							唐绍仪自少年赴美留学归来后，曾于1910年、1914年、1921年、1929至1934年4次回故乡居住过，并修建“小玲珑山馆”“私家园林”和“望慈山房”别墅。<br>
在1932年任中山模范县县长期间，将“小玲珑山馆”改为“共乐园”公开赠给唐家乡。“望慈山房”别墅曾是唐绍仪任中山模范县县长时的办公室，1989年3月3日，唐绍仪的遗孀吴维翘率子唐楗、女唐宝瑢和唐宝珊回故乡时，将“望慈山房”捐献给唐家镇人民政府作老人活动中心。<br>
1987年和1994年，珠海市人民政府分别将唐家共乐园和唐绍仪故居(包括“望慈山房”)列为市级文物保护单位，并出资修缮。<br>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 column">
		<h2>珠海景点排行</h2>
		<table class="table">
                        <thead>
                        <tr>
		<th>名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="tour" item="v">
			<tr class="warming">
			<td><a href="__ROOT__/index.php/Home/Index/{$v.src}">{$v.name}</a></td>
                                    </tr>
                        </foreach></tbody>
                        </table>
                        <div>{$page}</div>
		</div>
	</div>
</div>
</section>

<footer class="container">
	<div id= "suggest" class="contact" style="text-align:center" >
		<h2>CONTACT ME</h2>
		<p>您有什么更好的建议，请与我们联系</p>
		<div id="commit">
		<form >
		         <div class="input-group">		        
			<input type = "text" class="form-control" placeholder = "请输入姓名" required = "required"/>
		          </div>

		          <div class="input-group">
			<input type = "text" class="form-control" placeholder = "E-mail" required = "required"/>
		          </div>
			
		          <div class="input-group">
			<textarea placeholder = "Message"></textarea>
		          </div>
			
			<button type="submit" class="btn btn-warning">提交</button>
		</form>
		</div>
	</div>
	<br><br>
</footer>

</body>
</html>
