
.pic-show{
	text-align: center;
	line-height: 18px
}
.pic-show a{
            outline:none; 
            color: #484848;
            text-decoration: none;
}
.pic-show a:hover{
	outline:none; 
            color: #FF5A5F ;
            text-decoration: none;
}
.pic-show img{
	border='0' 
}
.pic-show p{
	font-size: 18px
}
