<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息概论</title>
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>
</head>

<body><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li >
					 <a href="#">个人信息修改页</a>
				</li>
				<li >
					 <a href="addtest.html">添加文章</a>
				</li>
				<li >
					 <a href="Login/login" action="">退出登录导航</a>
				</li>
				
			</ul>
			<div class="row clearfix">
				<div class="col-md-2 column">
					<ul class="nav nav-stacked nav-tabs">
						<li >
							 <a href="b1.html">信息概论</a>
						</li>
						<li>
							 <a href="b2.html">文章列表</a>
						</li>
						<li >
							 <a href="b3.html">用户信息管理</a>
						</li>
					</ul>
				</div>
                
				<div class="col-md-10 column" >
					<div class="media">
						 <a href="#" class="pull-left"><img src="v3/default7.jpg" class="media-object" alt='' /></a>
						<div class="media-body">
							<h4 class="media-heading">
								Nested media heading
							</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
					<div class="media">
						<a href="#" class="pull-left"><img src="v3/default8.jpg" class="media-object" alt='' /></a>
						<div class="media-body">
							<h4 class="media-heading">
								Nested media heading
							</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

</body>
</html>
