<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息概论</title>

<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/show.css" rel="stylesheet"/>
<link href="__PUBLIC__/Css/public.css" rel="stylesheet"/>

</head>

<body>
<div id="bg"></div>
<nav>
            <a href="__ROOT__"><img id="home" src="__PUBLIC__/Images/位图蜗牛.png" width="50" height="50"></a>
</nav>
<div class="container">
	<div class="row clearfix">
	<div class="col-md-12 column">		
	<ul class="nav nav-tabs">
		<li ><a href="index.html">旅游信息</a></li>
		<li><a href="../Info/info">个人信息修改</a></li>
		<li ><a href="../Login/index">退出登录导航</a></li>	
		</ul>

	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul class="nav nav-stacked nav-tabs">
				<li><a href="index.html">热门目的地</a></li>
				<li><a href="b2.html">文章列表</a></li>
				<li ><a href="b3.html">用户信息管理</a></li>
			</ul></div>
                
		<div class="col-md-10 column">
		<br>
		<section class="pic-show" id="pic-show" >
			<ul id="myTab" class="nav nav-tabs">
                                    <li><a href="#zh" data-toggle="tab">珠海</a></li>	
	                        <li><a href="#bj"  data-toggle="tab"> 北京</a></li>
	                        <li><a href="#sh" data-toggle="tab">上海</a></li>
	                        <li><a href="#cd" data-toggle="tab">成都</a></li>
	                        <li><a href="#">添加</a></li>
	                        </ul>
                         <div style="text-align:center;color:red;margin:40px 0">提示：点击图片上传</div>

                        <div id="myTabContent" class="tab-content"><br>

	            <div class="tab-pane fade in active" id="zh">
	                        <div class="row">
                                    <div class="col-md-4 column">
                                            <notempty name="data">
                                            <img class="img-circle" src="__PUBLIC__/Images/{$data.image}" width="200" height="160" id="zh1" /></notempty>                                        
                                    <br><br>
	                        <p>珠海渔女</p>
	                        <button type="button">修改</button></div>	

                                    <div class="col-md-4 column">
	                                <img class="img-circle" src="__PUBLIC__/Images/zh2.jpg" width="200" height="160" >	                       
	                        <br><br>
	                        <p>长隆海洋王国</p>
	                        <button type="button">修改</button></div>
		
	                        <div class="col-md-4 column">	     
	                               <img class="img-circle" src="__PUBLIC__/Images/zh3.jpg" width="200" height="160" >	                        
	                        <br><br>
	                        <p>圆明新园</p>
	                        <button type="button">修改</button></div>
	            </div></div>

	            <div class="tab-pane fade" id="sh">
	            	<div class="row">
	                        <div class="col-md-4 column">
	                        <img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
	                        <p>图片1加文字（整个div作为点击链接）</p></div>
	            	<div class="col-md-4 column">
	            	<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
		            <p>图片2加文字（整个div作为点击链接）</p></div>
		            <div class="col-md-4 column">
	            	<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
	            	<p>图片3加文字（整个div作为点击链接）</p></div>
	            </div></div>

	            <div class="tab-pane fade" id="cd">
			<div class="row">
	       	            <div class="col-md-4 column">
	      	            <img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
	      	            <p>图片1加文字（整个div作为点击链接）</p></div>
			<div class="col-md-4 column">
			<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
			<p>图片2加文字（整个div作为点击链接）</p></div>
			<div class="col-md-4 column">
			<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
			<p>图片3加文字（整个div作为点击链接）</p></div>
	      	</div></div>

	            <div class="tab-pane fade" id="bj">
			<div class="row">
	         		<div class="col-md-4 column">
	          		<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
	            	<p>图片1加文字（整个div作为点击链接）</p></div>
			<div class="col-md-4 column">
			<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
			<p>图片2加文字（整个div作为点击链接）</p></div>
			<div class="col-md-4 column">
			<img class="img-circle" src="__PUBLIC__/Images/位图蜗牛.png" width="350" height="250" >
			<p>图片3加文字（整个div作为点击链接）</p></div>
	         	</div></div>		     	
                        </div>

                        </section>

                        <div id="form">
                        <div style="width:400px;position:relative;left:56%;top:20px;margin-left:-215px;"><br>
             <p >修改图片</p>
            <hr width="70%" align="left">
            <form action="__URL__/upload" method="post" enctype="multipart/form-data" >
                        <input type="file" name="photo" id="photo" />
                        <input type="text" name="imagename" id="imagename" value="111"/>
                        <input type="submit" value="提交" >
            </form>
            <br><br>
            <a href="#"  id="form-close">点击关闭</a>
            </div></div>

	</div>
	</div>
	</div>

            
            
            </div>
</div>


<script src="__PUBLIC__/Js/jquery.min.js"></script>
<script src="__PUBLIC__/Js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Js/show.js"></script>
</body>
</html>
